.itemWrapper {
  display: flex;
  align-items: center;
  padding: 8px 32px;
  cursor: pointer;
}
.itemText {
  position: relative;
}

.itemText::before {
  position: absolute;
  left: var(--left, 0px);
  top: 5px;
  content: "";
  width: 0; 
  height: 0; 
  border-top: 4px solid transparent;
  border-right: none;
  border-bottom: 4px solid transparent;
  border-left: 4px solid var(--color-dark-grey1);
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
.isOpenAccordion.itemText::before {
  transform: rotate(90deg);
}

.itemWrapper:hover {
  background-color: var(--color-light-grey1);
  color: var(--color-dark-grey1);
}
.nestedItemFocused.itemWrapper {
  background-color: var(--color-light-purple1);
  color: var(--color-white);
  font-weight: bold;
}
.itemWrapper:active {
  background-color: var(--color-light-purple1);
  color: var(--color-white);
}
.itemWrapper:active .itemText::before {
  border-left: 4px solid var(--color-white);
}

.itemWrapper:focus {
  box-shadow: 0 0 0 1px var(--color-light-purple1);
}

.nestedPages {
  background-color: var(--color-light-grey1);
}

.itemWrapper.isOpenItemWrapper {
  background-color: var(--color-light-grey1);
  color: var(--color-dark-grey1);
}

.itemWrapper.isOpenItemWrapper .itemText::before {
  border-left: 4px solid var(--color-dark-grey1);
}

.itemWrapper.nestedItemFocused {
  background-color: var(--color-light-purple1);
  color: var(--color-white);
  font-weight: bold;
}

.itemWrapper.nestedItemFocused .itemText::before {
  border-left: 4px solid var(--color-white);
}

.nestedItemWraper {
  background-color: var(--color-light-grey2);
}

@media (prefers-color-scheme: dark) {
  .itemWrapper {
    color: var(--color-white);
  }
  .itemWrapper:hover {
    background-color: var(--color-dark-grey2);
    color: var(--color-white);
  }
  .nestedItemFocused.itemWrapper {
    background-color: var(--color-dark-purple1);
    color: var(--color-white);
    font-weight: bold;
  }
  .itemWrapper:active {
    background-color: var(--color-dark-purple1);
  }
  .itemWrapper:focus {
    box-shadow: 0 0 0 1px var(--color-dark-purple1);
  }

  .itemText::before {
    border-left: 4px solid var(--color-white);
  }

  .nestedPages {
    background-color: var(--color-dark-grey2);
  }

  .itemWrapper.isOpenItemWrapper {
    background-color: var(--color-dark-grey2);
    color: var(--color-white);
  }

  .nestedPages {
    background-color: var(--color-dark-grey2);
  }

  .itemWrapper.isOpenItemWrapper .itemText::before {
    border-left: 4px solid var(--color-white);
  }

  .itemWrapper.nestedItemFocused {
    background-color: var(--color-dark-purple1);
  }

  .itemWrapper.nestedItemFocused .itemText::before {
    border-left: 4px solid var(--color-white);
  }

  .nestedItemWraper {
    background-color: var(--color-dark-grey3);
  }
}